<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment</title>
</head>
<body>
<h1>PAYMENT SECTION</h1>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'contact' %}">Contact</a>
<a href="{% url 'information' %}">Information</a>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque ducimus facilis fugiat nemo similique. Beatae eligendi ex maxime minima nobis porro quibusdam. Autem, beatae enim in maxime omnis sapiente.</span><span>Adipisci aliquam architecto deleniti dignissimos dolore dolorum earum error, esse illum in magni nesciunt nisi nobis nostrum numquam omnis quam qui, repellendus reprehenderit soluta sunt temporibus ut veniam vero voluptatem!</span><span>Architecto, autem commodi cum dolorum, ducimus earum, et hic ipsum itaque minima modi natus placeat quam quod recusandae reprehenderit tempore unde velit. Alias architecto corporis mollitia nam necessitatibus, qui similique.</span><span>Adipisci amet aspernatur atque commodi cumque, dolor dolore dolorem eius hic id ipsa iure iusto minima minus molestiae numquam odit officia sequi sint sit suscipit temporibus tenetur ullam ut voluptatem.</span></p>



</body>
</html>